html, body, div, p, ul, li{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%
}

.content{
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: dimgrey;
}

.div01{
    flex: 1 1 auto;
    background-color: lightgrey;
    border: 2px;
    font-size: 20px;
    color: red;
}

.div02{
    display: flex;
    align-items: center;
    height: 50px;
}

.divlogin {
    margin: auto;
    margin-top: 50px;
    margin-left: calc(50% - 250px);
}

.mynetwork {
    flex: 1 1 auto;
    display: flex;
    border: 1px solid lightgray;
    background-image: url("../../static/img/sun.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.el-menu {
    border-right: solid 1px #e6e6e6;
    list-style: none;
    position: relative;
    margin: 0;
    padding-left: 0;
    background-color: DeepSkyBlue;
}
